# Movies Recommendation System

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("asaniczka/tmdb-movies-dataset-2023-930k-movies")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.0).
Downloading from https://www.kaggle.com/api/v1/datasets/download/asaniczka/tmdb-movies-dataset-2023-930k-movies?dataset_version_number=821...

100%|██████████| 233M/233M [00:01<00:00, 183MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/asaniczka/tmdb-movies-dataset-2023-930k-movies/versions/821

In [2]:
import os

files = os.listdir(path)
data_dir = os.path.join(path, files[0])

In [3]:
import pandas as pd

df = pd.read_csv(data_dir)

In [4]:
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [5]:
df.isnull().sum()
df.duplicated().sum()
df.drop_duplicates()
df = df.dropna()

In [6]:
new_df = df[['id', 'title', 'overview', 'genres', 'tagline', 'keywords']]

In [7]:
new_df.head()

,id,title,overview,genres,tagline,keywords
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","Action, Science Fiction, Adventure",Your mind is the scene of the crime.,"rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,The adventures of a group of explorers who mak...,"Adventure, Drama, Science Fiction",Mankind was born on Earth. It was never meant ...,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama, Action, Crime, Thriller",Welcome to a world without rules.,"joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, Science Fiction",Enter the world of Pandora.,"future, society, culture clash, space travel, ..."
4,24428,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction, Action, Adventure",Some assembly required.,"new york city, superhero, shield, based on com..."

In [8]:
import string

def transform_text(text):
  text = text.lower()
  return text.replace(' ', '')

In [9]:
new_df["genres"] = new_df["genres"].apply(transform_text)
new_df["keywords"] = new_df["keywords"].apply(transform_text)

/tmp/ipython-input-2717182113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["genres"] = new_df["genres"].apply(transform_text)
/tmp/ipython-input-2717182113.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["keywords"] = new_df["keywords"].apply(transform_text)

In [10]:
new_df.head()

,id,title,overview,genres,tagline,keywords
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","action,sciencefiction,adventure",Your mind is the scene of the crime.,"rescue,mission,dream,airplane,paris,france,vir..."
1,157336,Interstellar,The adventures of a group of explorers who mak...,"adventure,drama,sciencefiction",Mankind was born on Earth. It was never meant ...,"rescue,future,spacecraft,raceagainsttime,artif..."
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"drama,action,crime,thriller",Welcome to a world without rules.,"joker,sadism,chaos,secretidentity,crimefighter..."
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","action,adventure,fantasy,sciencefiction",Enter the world of Pandora.,"future,society,cultureclash,spacetravel,spacew..."
4,24428,The Avengers,When an unexpected enemy emerges and threatens...,"sciencefiction,action,adventure",Some assembly required.,"newyorkcity,superhero,shield,basedoncomic,alie..."

In [11]:
new_df["text"] = df["overview"] + df["tagline"] + df["genres"] + df["keywords"]

/tmp/ipython-input-3591145528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["text"] = df["overview"] + df["tagline"] + df["genres"] + df["keywords"]

In [12]:
new_df.head()

,id,title,overview,genres,tagline,keywords,text
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","action,sciencefiction,adventure",Your mind is the scene of the crime.,"rescue,mission,dream,airplane,paris,france,vir...","Cobb, a skilled thief who commits corporate es..."
1,157336,Interstellar,The adventures of a group of explorers who mak...,"adventure,drama,sciencefiction",Mankind was born on Earth. It was never meant ...,"rescue,future,spacecraft,raceagainsttime,artif...",The adventures of a group of explorers who mak...
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"drama,action,crime,thriller",Welcome to a world without rules.,"joker,sadism,chaos,secretidentity,crimefighter...",Batman raises the stakes in his war on crime. ...
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","action,adventure,fantasy,sciencefiction",Enter the world of Pandora.,"future,society,cultureclash,spacetravel,spacew...","In the 22nd century, a paraplegic Marine is di..."
4,24428,The Avengers,When an unexpected enemy emerges and threatens...,"sciencefiction,action,adventure",Some assembly required.,"newyorkcity,superhero,shield,basedoncomic,alie...",When an unexpected enemy emerges and threatens...

In [13]:
new_df = new_df[["id", "title", "text"]]

In [14]:
new_df["text"] = new_df["text"].apply(lambda x: x.lower())
new_df["text"] = new_df["text"].apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))

from nltk.stem import PorterStemmer
ps = PorterStemmer()
new_df["text"] = new_df["text"].apply(lambda x: ' '.join([ps.stem(word) for word in x.split()]))

In [15]:
new_df["title"] = new_df["title"].apply(lambda x: x.lower())

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=10000, stop_words="english")
vector = cv.fit_transform(new_df["text"]).toarray()

In [17]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vector)

In [18]:
new_df[new_df['title'] == "iron man"].index

Index([12], dtype='int64')

In [19]:
def recommended(movie):

  movie = movie.lower()
  movie_row = new_df[new_df["title"] == movie]
  if movie_row.empty:
    print(f"Movie '{movie.title()}' not found in the database. Please check the title.")
    return

  movie_index = movie_row.index[0]
  distance = similarity[movie_index] # Corrected from similarity(movie_index)
  movies_list = sorted(list(enumerate(distance)), reverse=True, key=lambda x: x[1])[1:10]

  print(f"Recommendations for '{movie.title()}':")
  for i in movies_list:
    print(new_df.iloc[i[0]].title.title())

In [20]:
user_input = input("Enter a movie title: ")
recommended(user_input)

Enter a movie title: Iron Man
Recommendations for 'Iron Man':
Iron Man 3
Iron Man 2
Inhumans: The First Chapter
Guardians Of The Galaxy Vol. 2
Guardians Of The Galaxy
Shang-Chi And The Legend Of The Ten Rings
Spider-Man: Homecoming
Avengers: Age Of Ultron
Guardians Of The Galaxy Vol. 3

In [21]:
import pickle

pickle.dump(new_df,open('movie.pkl','wb'))
pickle.dump(similarity,open('movie_similarity.pkl','wb'))

# Tv shows Recommandation System

In [22]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("asaniczka/full-tmdb-tv-shows-dataset-2023-150k-shows")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.0).
Downloading from https://www.kaggle.com/api/v1/datasets/download/asaniczka/full-tmdb-tv-shows-dataset-2023-150k-shows?dataset_version_number=22...

100%|██████████| 30.8M/30.8M [00:00<00:00, 101MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/asaniczka/full-tmdb-tv-shows-dataset-2023-150k-shows/versions/22

In [23]:
import os

files = os.listdir(path)
data_dir = os.path.join(path, files[0])

In [24]:
import pandas as pd

df = pd.read_csv(data_dir)

In [25]:
df.head()

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45

In [26]:
df.isnull().sum()
df.duplicated().sum()
df.drop_duplicates()
df = df.dropna()

In [27]:
new_df = df[['id', 'name', 'overview', 'genres', 'tagline']]

In [28]:
new_df.head()

,id,name,overview,genres,tagline
0,1399,Game of Thrones,Seven noble families fight for control of the ...,"Sci-Fi & Fantasy, Drama, Action & Adventure",Winter Is Coming
1,71446,Money Heist,"To carry out the biggest heist in history, a m...","Crime, Drama",The perfect robbery.
2,66732,Stranger Things,"When a young boy vanishes, a small town uncove...","Drama, Sci-Fi & Fantasy, Mystery",Every ending has a beginning.
3,1402,The Walking Dead,Sheriff's deputy Rick Grimes awakens from a co...,"Action & Adventure, Drama, Sci-Fi & Fantasy",Fight the dead. Fear the living.
4,63174,Lucifer,"Bored and unhappy as the Lord of Hell, Lucifer...","Crime, Sci-Fi & Fantasy",It's good to be bad.

In [29]:
import string

def transform_text(text):
  text = text.lower()
  return text.replace(' ', '')

In [30]:
new_df["genres"] = new_df["genres"].apply(transform_text)

/tmp/ipython-input-3297415299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["genres"] = new_df["genres"].apply(transform_text)

In [31]:
new_df.head()

,id,name,overview,genres,tagline
0,1399,Game of Thrones,Seven noble families fight for control of the ...,"sci-fi&fantasy,drama,action&adventure",Winter Is Coming
1,71446,Money Heist,"To carry out the biggest heist in history, a m...","crime,drama",The perfect robbery.
2,66732,Stranger Things,"When a young boy vanishes, a small town uncove...","drama,sci-fi&fantasy,mystery",Every ending has a beginning.
3,1402,The Walking Dead,Sheriff's deputy Rick Grimes awakens from a co...,"action&adventure,drama,sci-fi&fantasy",Fight the dead. Fear the living.
4,63174,Lucifer,"Bored and unhappy as the Lord of Hell, Lucifer...","crime,sci-fi&fantasy",It's good to be bad.

In [32]:
new_df["text"] = df["overview"] + df["tagline"] + df["genres"]

/tmp/ipython-input-2882043374.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["text"] = df["overview"] + df["tagline"] + df["genres"]

In [33]:
new_df.head()

,id,name,overview,genres,tagline,text
0,1399,Game of Thrones,Seven noble families fight for control of the ...,"sci-fi&fantasy,drama,action&adventure",Winter Is Coming,Seven noble families fight for control of the ...
1,71446,Money Heist,"To carry out the biggest heist in history, a m...","crime,drama",The perfect robbery.,"To carry out the biggest heist in history, a m..."
2,66732,Stranger Things,"When a young boy vanishes, a small town uncove...","drama,sci-fi&fantasy,mystery",Every ending has a beginning.,"When a young boy vanishes, a small town uncove..."
3,1402,The Walking Dead,Sheriff's deputy Rick Grimes awakens from a co...,"action&adventure,drama,sci-fi&fantasy",Fight the dead. Fear the living.,Sheriff's deputy Rick Grimes awakens from a co...
4,63174,Lucifer,"Bored and unhappy as the Lord of Hell, Lucifer...","crime,sci-fi&fantasy",It's good to be bad.,"Bored and unhappy as the Lord of Hell, Lucifer..."

In [34]:
new_df = new_df[["id", "name", "text"]]

In [35]:
new_df = new_df.rename(columns={"name": "title"})

In [36]:
new_df.head()

      id             title                                               text
0   1399   Game of Thrones  Seven noble families fight for control of the ...
1  71446       Money Heist  To carry out the biggest heist in history, a m...
2  66732   Stranger Things  When a young boy vanishes, a small town uncove...
3   1402  The Walking Dead  Sheriff's deputy Rick Grimes awakens from a co...
4  63174           Lucifer  Bored and unhappy as the Lord of Hell, Lucifer...

In [37]:
new_df["text"] = new_df["text"].apply(lambda x: x.lower())
new_df["text"] = new_df["text"].apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))

from nltk.stem import PorterStemmer
ps = PorterStemmer()
new_df["text"] = new_df["text"].apply(lambda x: ' '.join([ps.stem(word) for word in x.split()]))

In [38]:
new_df["title"] = new_df["title"].apply(lambda x: x.lower())

In [39]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=10000, stop_words="english")
vector = cv.fit_transform(new_df["text"]).toarray()

In [40]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vector)

In [41]:
new_df[new_df['title'] == "game of thrones"].index

Index([0], dtype='int64')

In [42]:
def recommended(series):

  series = series.lower()
  series_row = new_df[new_df["title"] == series]
  if series_row.empty:
    print(f"Show '{series.title()}' not found in the database. Please check the name.")
    return

  series_index = series_row.index[0]
  distance = similarity[series_index]
  series_list = sorted(list(enumerate(distance)), reverse=True, key=lambda x: x[1])[1:10]

  print(f"Recommendations for '{series.title()}':")
  for i in series_list:
    print(new_df.iloc[i[0]]['title'].title())

user_input = input("Enter a show title: ")
recommended(user_input)

Enter a show title: Game of Thrones
Recommendations for 'Game Of Thrones':
Our Girl
Lost In Space
Bodyguard
The Last Post
Willow
Blood Of Zeus
The Australian Wars
Shahmaran
The Passing Bells

In [43]:
import pickle

pickle.dump(new_df,open('series.pkl','wb'))
pickle.dump(similarity,open('series_similarity.pkl','wb'))